@model IEnumerable<MunicipalManagementSystem.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citizen.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Department)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
